/* Flex contianer => Parent */
ul {
  background-color: lightslategray;
  padding: 20px;
  height: 600px; /* comment out for align items: stretch to be visualized */

  /* Flex container properties */
  display: flex;
  align-items: flex-start;
}

/* Flex item => Children */
li {
  list-style: none;
  color: white;
  background-color: #20b2aa;
  padding: 10px;
  margin: 20px;
  width: 100px;
  text-align: center;
  /* height: 100px; */ /* comment out for (align-items: stretch;) for visualize */
}

/* Align Self */

/* 6.1 */
/* Default (auto) */
/* li:first-child {
  align-self: auto;
} */

/* 6.2 */
/* flex end */
/* li:first-child {
  align-self: flex-end;
} */

/* 6.3 */
/* center */
/* li:first-child {
  align-self: center;
} */

/* 6.4 */
/* stretch */
/* li:first-child {
  align-self: stretch;
} */

/* 6.5 */
/* baseline */
/* li:first-child {
  align-self: baseline;  
} */

/* 6.6 */
/* Flex start */
li:first-child{
  align-self: flex-start;
}